body {
  /* margin: 0; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
  color: #0457c8;
}

#header{
  width: 100% !important;
}

#reviews{
  display: flex;
  justify-content: center;
}

#overview{
  display: flex;
  justify-content: center;
}

#footer{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

#Pricing-Cart-Gallery{
  display: flex;
  justify-content: center;
}

#alsoviewed{
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
}

#specifications{
  display: flex;
  justify-content: center;
}

#questions_answers{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}